<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dona y decide</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/catastrofes.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../Portafolio/home">
                <img src="/static/img/image-7.png" alt="logo" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/campanas">Campañas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/carrito">Carrito</a>
                    </li>

                </ul>
                <a class="btn btn-outline-primary mx-3" href="../Portafolio/login">Ingresar</a>
                <a class="btn btn-primary" href="../Portafolio/register">Registrar</a>
            </div>
        </div>
    </nav>

    <header>
        <h1>Catastrofes Naturales</h1>
    </header>
    <main>
        <div class="container my-4">

            <div class="category-container">

                <div class="category">
                    <img src="/static/img/Incendio-Viña.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ayuda a los Damnificados de Viña del Mar</h5>
                        <br>
                        <p class="card-text">En febrero de 2024, unos antisociales causaron un incendio que abarco mas
                            de 3 mil hectarias, en unas semans 90.000 personas perdieron su hogar.
                            Tu donación ayudará a la reconstruccion de viviendas y otros vienes basicos</p>
                        <button class="btn btn-primary">Donar</button>
                    </div>
                </div>
                <div class="category">
                    <img src="/static/img/Tsunami.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tsunami en la Serena</h5>
                        <br>
                        <p class="card-text"> En Junio, un tsunami en la Serena arrasó con mas de 1000 casas, de momento
                            solo se han reconstruido solamente 179 casas. Las personas que perdieron su hogar necesitan
                            uno nuevo y otras necesidades basicas </p>
                        <button class="btn btn-primary">Donar</button>
                    </div>
                </div>
                <div class="category">
                    <img src="/static/img/Aluvion.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Aluvión en el norte de nuestro país</h5>
                        <br>
                        <p class="card-text">Andrea, juan y mateo, son de un pueblo humilde de Copiapó, lamentablemente
                            un aluvión afecto sus casas, como el pueblo en que el viven es muy humilde no tienen los
                            recursos ni materiales para la construccion de un nuevo hogar, se necesitan $7 millones en
                            materiales y mano de obra para la reconstrucción de sus hogares</p>
                        <button class="btn btn-primary">Donar</button>
                    </div>
                </div>
                <div class="category">
                    <img src="/static/img/nuevoincencio.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" class=" text-center">Incendio en tarapacá</h5>
                        <br>
                        <p class="card-text">Por los estragos del incencio en tarapacá se necesitan $100 millones para ayudar los materiales de construción para
                            las 908 casas y departamentos consumidos por las llamas.
                        </p>
                        <button class="btn btn-primary">Donar</button>
                    </div>
                </div>
                <div class="category">
                    <img src="/static/img/volcan.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">La lava del volcan villarica arrasó con el pueblo cerca del volcan</h5>
                        <p class="card-text">
                            El pueblo de "chañaral" en villarica fue consumido por la lava del volcan, 4 se perdieron
                            negocios 400 hogares, se requieren $100 millones para la reconstruccion del pueblo</p>
                        <button class="btn btn-primary">Donar</button>
                    </div>
                </div>

            </div>
    </main>
    </div>



    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>