<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dona y decide</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/catastrofes.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../Portafolio/home">
                <img src="/static/img/image-7.png" alt="logo" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/campanas">Campañas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/carrito">Carrito</a>
                    </li>

                </ul>
                <a class="btn btn-outline-primary mx-3" href="../Portafolio/login">Ingresar</a>
                <a class="btn btn-primary" href="../Portafolio/register">Registrar</a>
            </div>
        </div>
    </nav>

    <header>
        <h1>Discapacitados</h1>
    </header>
    <div class="container my-4">

        <div class="category-container">

            <div class="category">
                <!-- Por defecto la card tendrá un espacio abajo de 3, esto para evitar que cada card este pegado uno del otro en caso de que la pagina sea vista desde un telefono, pero si es vista desde una pantalla grande con el md indicamos que el margen de abajo va a ser de 0 debido a que es innecesario-->
                <img src="/static/img/discapacitados.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">¡Dona una silla de ruedas, dona movilidad e independencia!
                    </h5>
                    <br>
                    <p class="card-text">
                        En la región de Bio-Bio. Miles de personas con discapacidad en nuestra comunidad necesitan una silla de
                        ruedas para poder desplazarse con autonomía y dignidad. Sin embargo, muchas de ellas no tienen
                        los recursos económicos para comprar una.</p>
                    <button class="btn btn-primary">Donar</button>
                </div>
            </div>
            <div class="category">
                <img src="/static/img/discapacitados.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">¡Dona una segunda oportunidad a personas con discapacidad fisica!</h5>
                    <br>
                    <p class="card-text">
                        La Fundación "Abordando Discapacidades" trabaja para brindar acceso a la
                        comunicación y la información a personas con discapacidad auditiva. A través de programas de
                        enseñanza de lengua de señas, talleres de audiología y apoyo para la adquisición de prótesis
                        auditivas, estas personas pueden mejorar su calidad de vida y participar plenamente en la
                        sociedad. Sin embargo, la fundación depende de donaciones para poder llevar a cabo estos
                        programas.</p>
                    <button class="btn btn-primary">Donar</button>
                </div>
            </div>
            <div class="category">
                <img src="/static/img/discpa.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">¡Ayúdanos a brindarles autonomía a personas con discapacidad motriz!
                </h5>
                <br>
                <p class="card-text">
                    La Asociación "La concepción" de Temuco, trabaja para brindarles independencia y
                    autonomía a personas con discapacidad visual. A través de entrenamiento en técnicas de movilidad,
                    acceso a tecnología y apoyo emocional, estas personas aprenden a desenvolverse en su día a día sin
                    depender de la ayuda de otros. Sin embargo, la asociación necesita fondos para continuar con su
                    labor.</p>
                <button class="btn btn-primary">Donar</button>
            </div>


            <div class="category">
                <img src="/static/img/discninos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">¡En riesgo de cerrar!</h5>
                    <br>
                    <p class="card-text">El Centro de Rehabilitación Infantil "Carmela" está a punto de
                        cerrar sus puertas debido a la falta de fondos. Este centro brinda servicios esenciales a
                        aprox 300 niños con discapacidades físicas y cognitivas, incluyendo terapia física y
                        ocupacional,
                        habilitación y rehabilitación. Sin embargo, la falta de financiamiento ha
                        puesto en riesgo la continuidad de estos servicios.</p>
                    <button class="btn btn-primary">Donar</button>
                </div>
            </div>
            <div class="category">
                <img src="/static/img/donación-a-personas-con-discapacidad-1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">¡En peligro de cerrar!</h5>
                    <br>
                    <p class="card-text">El hogar de ancianos con discapacidades está en problemas
                        acoge a 500 personas mayores con
                        discapacidad física y mental. El hogar brinda cuidado integral, incluyendo alimentación, higiene
                        personal, atención médica y actividades recreativas. Sin embargo, las precarias condiciones del
                        hogar y la falta de recursos económicos ponen en riesgo la calidad de vida de los residentes.
                    </p>
                    <button class="btn btn-primary">Donar</button>
                </div>
            </div>

        </div>
    </div>




    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>