<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dona y decide</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/salud.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../Portafolio/home">
                <img src="/static/img/image-7.png" alt="logo" class="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/campanas">Campañas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../Portafolio/carrito">Carrito</a>
                    </li>

                </ul>
                <a class="btn btn-outline-primary mx-3" href="../Portafolio/login">Ingresar</a>
                <a class="btn btn-primary" href="../Portafolio/register">Registrar</a>
            </div>
        </div>
    </nav>

    <header>
        <h1>Salud</h1>
    </header>
    <main>
        <div class="container my-4">

            <div class="category-container">

                <div class="category">
                    <img src="/static/img/80815031_1718641120558096_r.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ayudemos a Lee y Drew</h5>
                        <br>
                        <p class="card-text">Lee ha pasado por múltiples cirugías debido a un cáncer agresivo, incluida
                            la
                            reconstrucción de su mandíbula con hueso de la pierna. Ha sufrido infecciones y necrosis, y
                            sigue necesitando operaciones. Drew quiere recaudar 500€ para hacerse pareja de hecho y
                            poder
                            ausentarse del trabajo sin perder salario.</p>
                        <button class="btn btn-primary">Donar</button>
                    </div>
                </div>
                <div class="category">
                    <img src="/static/img/hospital.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Carla, del Equipo médico requiere dinero para su cirugía</h5>
                        <br>
                        <p class="card-text">Carla ha salvado más de 20 vidas a lo largo de su carrera como profesional,
                            sin
                            embargo está enferma y requiere tratar su atrofia muscular espinal y necesita Zolgensma, el
                            cual
                            tiene un costo aproximado de 1.800 millones de pesos.
                        </p>
                        <button class="btn btn-primary">Donar</button>
                    </div>
                </div>
                <div class="category">
                    <img src="/static/img/nino-diabetico-418x315.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tomás tiene Diabetes tipo A</h5>
                        <br>
                        <p class="card-text">Tomásde 8 años, enfrenta con valentía la diabetes tipo 1, ayudalo a
                            mejorar
                            la vida de niños como él, brindándoles educación, apoyo emocional y acceso a tratamientos
                            innovadores.
                            Dona hoy y ayúdanos a alcanzar nuestra meta de $100.000
                            ¡Con tu donación, Tomás y miles de niños como él podrán vivir una vida plena y llena de
                            esperanza!.</p>
                        <button class="btn btn-primary">Donar</button>
                    </div>
                </div>
                <div class="category">
                    <img src="/static/img/Leucemia.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Julia necesita tratamiento costoso para la Leucemia</h5>
                        <br>
                        <p class="card-text">Julia, de 25 años, está librando una batalla contra la leucemia. Necesita
                            recaudar los fondos necesarios para cubrir los costosos tratamientos médicos que necesita.
                            Requiere $5 millones para cubrir gastos de quimioterapia, radioterapia y otros tratamientos
                            médicos.
                            ¡Con tu donación, estás dando esperanza a Juan y a su familia en este momento tan difícil!.
                        </p>
                        <button class="btn btn-primary">Donar</button>
                    </div>
                </div>
                <div class="category">
                    <img src="/static/img/campanaaaaaaas.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ayuda a la fundación "Unidos por la Salud" y
                            apoya
                            a miles de pacientes.</h5>
                        <p class="card-text">
                            La fundación "Unidos por la Salud" reúne a corredores cada año para recaudar
                            fondos para organizaciones que trabajan en la investigación, prevención y tratamiento
                            de enfermedades, el objetivo es recaudar $3 millones para apoyar a:
                            Hospitales y centros de investigación médica, programas de atención a pacientes con
                            enfermedades crónicas, iniciativas de prevención y promoción de la salud..</p>
                        <button class="btn btn-primary">Donar</button>
                    </div>
                </div>

            </div>
    </main>
    </div>




    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>